<launch>
    <node pkg="hw3_part1_2" type="control.py" name="control" output="screen"></node>
    <node pkg="hw3_part1_2" type="mission.py" name="mission" output="screen"></node>
    <node pkg="hw3_part1_2" type="monitor.py" name="monitor" output="screen"></node>
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch">
        <arg name="x_pos" value="0"/>
        <arg name="y_pos" value="0"/>
        <arg name="z_pos" value="0.0"/>
    </include>
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_gazebo_rviz.launch"/>
</launch>